@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");
@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}
@tailwind components;
@tailwind utilities;

* {
  background: #f2f1f0;
  font-family: "Rufina", serif;
  color: #232323;
}
